<div ng-controller="AudioListCtrl as ctrl">
<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="javascript://">
                    Best Floor
                </a>
            </li>
            <li>
                <a href="javascript://" ng-click="ctrl.openAudioUploadModal()">Upload New File</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                  <div class="input-group input-group-lg">
                    <span href="#menu-toggle" id="menu-toggle" class="input-group-addon" id="sizing-addon1"><i class="fa fa-bars"></i></span>
                    <input ng-model="ctrl.searchQuery"
                           ng-keyup="ctrl.getAudioList()"
                           ng-model-options="{ debounce: 500 }"
                           type="text"
                           class="form-control"
                           placeholder="Search for a sound..."
                           aria-describedby="sizing-addon1">
                    <span ng-click="ctrl.getAudioList()" class="input-group-addon" id="sizing-addon1"><i class="fa fa-search"></i></span>
                  </div>
                </div>
            </div>
            <div class="row" style="padding-top: 1%">
              <div class="col-lg-10 col-lg-offset-1">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>
                        <!-- play button offset -->
                      </th>
                      <th>
                        Sound
                      </th>
                      <th>
                        catagory
                      </th>
                      <th>
                        tags
                      </th>
                      <th>
                        length
                      </th>
                    </tr>
                  </thead>
                  <tr ng-repeat="file in ctrl.audio">
                    <td>
                       <i ng-if="playing!=file.id" class="fa fa-play" ng-click="playAudio(file.id, file.length)"></i>
                       <i ng-if="playing==file.id" class="fa fa-spinner"></i>
                    </td>
                    <td>
                      {{file.name}}
                    </td>
                    <td>
                      music snipits
                    </td>
                    <td>
                      whoop whoop, Siren
                    </td>
                    <td>
                      <i class="fa fa-clock-o"></i> {{file.length | formatAudioLength}}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->