<div ng-controller="AudioListCtrl as ctrl">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="input-group input-group-lg">
          <span onclick="location='/#/audio-upload'" class="input-group-addon"><i class="fa fa-upload"></i></span>
          <input ng-model="ctrl.searchQuery"
          type="text"
          class="form-control"
          placeholder="Search for a sound..."
          aria-describedby="sizing-addon1">
          <span ng-click="ctrl.getAudioList()" class="input-group-addon" id="sizing-addon1"><i class="fa fa-search"></i></span>
        </div>
      </div>
    </div>
    <div class="row" style="padding-top: 1%">
      <div class="col-xs-12">
        <p ng-if="ctrl.loading" class='help-block text-danger loading'><i class="fa fa-spinner fa-spin"></i>&nbsp;loading...<p>
        <p ng-if="!ctrl.loading && ctrl.audio && !ctrl.audio.length && !ctrl.searchQuery" class="help-block text-danger loading"><i class="fa fa-exclamation-triangle"></i>&nbsp;No results found, try <a href="/#/upload-audio">uploading</a>.<p>
        <p ng-if="!ctrl.loading && ctrl.audio && !ctrl.audio.length && ctrl.searchQuery" class="help-block text-danger loading">No results found<p>
      </div>
      <div class="col-lg-10 col-lg-offset-1" ng-if="!ctrl.loading && ctrl.audio && ctrl.audio.length">
        <table class="table table-striped">
          <thead>
            <tr>
              <th><!-- play button offset --></th>
              <th>
              name
              </th>
              <th>
              tags
              </th>
              <th>
              length
              </th>
            </tr>
          </thead>
          <tr ng-repeat="file in ctrl.audio">
            <td>
              <button class="btn btn-default" ng-click="ctrl.playAudio(file)" ng-disabled="ctrl.playing">
                <i ng-class="{'fa-play': ctrl.playing != file, 'fa-spin fa-spinner': ctrl.playing == file}" class="fa"></i>
              </button>
            </td>
            <td>
              {{file.name}}
            </td>
            <td>
              {{file.tags}}
            </td>
            <td>
              <i class="fa fa-clock-o"></i> {{file.length | formatAudioLength}}
            </td>
          </tr>
      </table>
    </div>
  </div>
</div>
