<div ng-controller="DashboardCtrl as ctrl">
  <h1>Welcome to the poor floor stamp management system!</h1>

  <h4 style="color: red;">ATTENTION USERS!</h4>
  <p>This is a pre-alpha release</p>
  <ul>
    <li>There is a known bug that allows multiple files to be played simultaneously please wait for tracks to finish playing before clicking play on another track</li>
    <li>Please take your time naming files and tagging them, this makes it easier to search and easier to read the track names</li>
    <li>The supported filetypes are mp3, mp4 and wav</li>
    <li>Please report issues <a target="_blank" href="https://github.com/paynejacob/points-tracker/issues">here</a></li>
    <li>If you would like to contribute to this project contact <a href="mailto:jacob.payne@vertical-knowledge.com?Subject=Stamp%20Management%20Development">Jacob Payne</a></li>
    <li>
      Audio files have a maximum length of 15 seconds, if you upload a file longer than 15 seconds only the first 15 seconds will be saved
    </li>
  </ul>
</div>
