<div ng-controller="AudioListCtrl as ctrl">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h2>Upload New Audio File</h2>
      </div>
    </div>
    <div class="row">
      <div class="well well-lg">
        <form>
          <div class="form-group">
            <button class="btn btn-default">Upload File</button>
          </div>
          <div class="form-group">
            <label>File Name</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Tags</label>
            <textarea class="form-control" rows="3"></textarea>
          </div>
          <div class="clearfix">
            <div class="form-group pull-right">
              <button class="btn btn-default">Cancel</button>
              <button class="btn btn-default">submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
