<div ng-controller="AudioUploadCtrl as ctrl">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h2>Upload New Audio File</h2>
      </div>
    </div>
    <div class="row">
      <div class="well well-lg">
        <form>
          <div class="form-group">
            <label>File Name</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Tags</label>
            <textarea class="form-control" rows="5"></textarea>
          </div>
          <div class="alert alert-success"
               role="alert"
               ng-show="ctrl.filename != '' && ctrl.uploadProgress == 100">
                {{ ctrl.filename }}
               </div>
          <div class="form-group">
            <div ngf-drop
                 ngf-select
                 ng-model="ctrl.tmpImages"
                 ngf-drag-over-class="dragover"
                 ngf-multiple="false"
                 ng-show="ctrl.filename == '' && ctrl.uploadProgress != 100"
                 ngf-change="ctrl.uploadAudio($files, $event)"
                 ngf-allow-dir="true"
                 ngf-accept="'.mp4,.mp3,.wav,.ogg'">
              <div ng-if="ctrl.uploadProgress == 0 || ctrl.uploadProgress == 100">
                <a class="btn btn-default">Upload Audio</a>
              </div>
              <div ng-if="ctrl.uploadProgress > 0 && ctrl.uploadProgress < 100">
                <progressbar class="progress" type="success" value="ctrl.uploadProgress">
                  {{ ctrl.uploadProgress | number }}%
                </progressbar>
              </div>
            </div>
          </div>
          <div class="clearfix">
            <div class="form-group pull-right">
              <button class="btn btn-default">Cancel</button>
              <button class="btn btn-default" ng-click="ctrl.setAudioInfo()">submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
